/*Стилизація проєкта -
    user-details.html - блок з інфою про user зверху сторінки. Кнопка нижчє, на 90% ширини сторінки, по центру.
    блоки з короткою іфною про post - в ряд по 5 .
Всі елементи котрі характеризують users, posts, comments візуалізувати, так, щоб було видно що це блоки (дати фон. марджини і тд)*/
.block {
   margin: 0 auto;
    background: lightgoldenrodyellow;
    border: black solid 2px;
    text-align: center;
}
.button {
    width: 90%;
    margin: 0 auto;
    display: block;
}
.button:hover {
    background: darkseagreen;
}
.info {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 40px 80px;
    justify-content: space-between;
}
.div {
    background: lightpink;
    height: 220px;
    border: black solid 2px;
    border-radius: 20%;
}
.post {
    height: 15vh;
}
